<footer class="bg-emerald-100 text-center p-3 relative bottom-0 w-full justify-end">
    <div>
        <nav class="flex gap-6 justify-center mb-3">
            <a href="/marketplace" class="underline">Marketplace</a>
            <a href="/about" class="underline">About</a>
        </nav>
        <p>&copy; 2023 ThreadedTenderly. All rights reserved.</p>
    </div>
</footer>