<!--button that goes back a page on click-->
<button onclick="goBack()" class="bg-teal-800 text-white font-semibold rounded-full py-1 px-3 mb-2 w-fit hover:bg-teal-950 hover:scale-110 transition-transform duration-200">Go Back</button>