<!doctype html>
<html lang="en">
<head>
    <%- include('components/htmlHead') %>
</head>
<body class="flex flex-col justify-between min-h-screen">
<!--basic, short, concise information about website-->
<div class="mb-12">
    <%- include('components/header', { currentPage: 'about' }) %>
    <main>
        <div class="max-w-3xl mx-auto relative mt-12 mb-10">
            <%- include('components/h1Heading', { heading: 'About ThreadedTenderly' } ) %>
            <div class="w-full shadow-xl bg-white px-3 py-3 rounded-xl border-grey-50 border">
                <div class="mb-4">
                    This is my, Michaela Topalovic's website, created specifically for my second Creative Code-Lab
                    (Connected Worlds) at the FH St. Pölten as part of my study course creative computing.
                </div>

                This website was created in the span of two weeks with the incentive of creating a multi-user,
                multiscreen website.
                ThreadedTenderly is an online marketplace for handcrafted fashion and accessoires. It is
                designed to give independent and passionate artisans the platform to promote and sell their craft to
                people that value high-quality and sustainable clothing and accessoires.
            </div>
        </div>
    </main>
</div>
<%- include('components/footer') %>
</body>
</html>