<!doctype html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>
<body>
<%- include('components/topNav', { currentPage: 'about' }) %>
<div class="relative">We are ThreadedTenderly</div>
</body>
</html>