<!doctype html>
<html lang="en">
<head>
    <%- include('components/htmlHead') %>
</head>
<body class="h-screen bg-gradient-to-b from-emerald-50 to-emerald-200 text-center flex flex-col justify-center">
<!--landing page with navigation-->

<div class="flex justify-center content-center mb-2">
    <img src="./icons/logo.png" class="h-28" alt="Logo">
    <h1 class="font-bold text-8xl font-kaushanScript">ThreadedTenderly</h1>
</div>
<h2 class=" text-4xl mb-10 font-kaushanScript">Sewin’ Love for You</h2>
<div class="text-lg mb-4">
    <p>Where artisans' handiwork meets sustainability and craftsmanship in fashion.</p>
    <p>Discover unique, handcrafted treasures today.</p>
</div>
<!--options to go to marketplace, login and register-->
<button class="bg-teal-800 hover:bg-teal-950 text-white rounded-full py-1 px-3 my-3 w-fit mx-auto font-semibold" onclick="goToMarketspace()">
    Shop Now
</button>
<br>
<div class="flex justify-center gap-4">
    <a href="/login" class="underline text-indigo-900 inline">Login</a> / <a href="/register"
                                                                              class="underline text-indigo-900">Register</a>
</div>
</body>
</html>